.grid {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.cell {
    flex: 0 0 33%;
    height: 100px;
    width: 100px;
    margin-bottom: 5px;
    text-align: center;
}

img{
    width: 150px;
    height: 150px;
}