.grid {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
}

.cell {
    flex: 0 0 33%;
    /* height: 100px; */
    width: 3.2rem;
    text-align: center;
}

img{
    width: 150px;
    height: 150px;
}

.captcha_title {
    text-align: center;
    font-size: large;
}