.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
}

.nav {
  height: calc(3rem + 1rem);
  justify-content: center;
  column-gap: 2rem;
  margin: auto;
}

.nav_list {
  display: flex;
  column-gap: 5rem;
  list-style-type: none;
  justify-content: space-between;
  padding-left: 0px;
}

.menu {
  width: 100%;
}

@media all and (max-width: 430px) {
  .nav {
    column-gap: 2rem;
  }
}

@media all and (max-width: 300px){
    .nav {
    column-gap: 15px;
  }
}
