.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.nav_item {
  font-family: "Playfair Display", serif;;
}

.nav {
  height: calc(var(--header-height) + 1rem);
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav_list {
  column-gap: 1.5rem;
}

.active {
  text-decoration: none;
  color: black;
}

.inactive {
  color: var(--text-color);
   text-decoration: none;
}

@media screen and (max-width: 768px) {
  body {
    margin: 0 0 var(--header-height) 0;
  }

  .nav_list {
    display: block;
    column-gap: 1.5rem;
  }

}

@media all and (max-width: 430px) {
  

}

@media screen and (max-width: 350px) {
    /* .nav_menu {
        padding: 2rem 0.25rem, 4rem;
        display: none;
    } */

    .nav {
      width: 100%;
      margin: 0;
    }
}