
.nav {
  height: calc(3rem + 1rem);
  justify-content: center;
  column-gap: 2rem;
  margin: auto;
}

.nav_list {
  display: flex;
  column-gap: 5rem;
  list-style-type: none;
  justify-content: space-between;
  padding-left: 0px;
}

.home_image {
  width: 20rem;
  height: 20rem;
}

.menu {
  width: 100%;
}

.active {
  text-decoration: none;
  color: black;
}

.inactive {
  color: var(--text-color);
   text-decoration: none;
}